<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools" >

    <uses-permission android:name="android.permission.INTERNET" />

    <uses-feature android:name="android.hardware.camera" />

    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:allowBackup="true"
        android:dataExtractionRules="@xml/data_extraction_rules"
        android:fullBackupContent="@xml/backup_rules"
        android:usesCleartextTraffic="true"
        android:icon="@mipmap/logo_app_purple"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/logo_app_purple_round"
        android:supportsRtl="true"
        android:theme="@style/Theme.FaceTrack.WhiteStatusBar"
        tools:targetApi="31" >
        <activity
            android:name=".ui.activities.editProfile.EditProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.newPassword.NewPasswordActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.verification.ConfirmationOtpActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.result.ResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.scanResult.ScanResultActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.preview.PreviewActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.scanCamera.ScanCameraActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.detailProgram.DetailProgramActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.addProgram.AddProgramActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.reset.ResetActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.inputProfile.InputProfileActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.register.RegisterActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.login.LoginActivity"
            android:exported="false" />
        <activity
            android:name=".ui.activities.main.MainActivity"
            android:exported="false"
            android:label="@string/title_activity_main"
            android:theme="@style/Theme.FaceTrack.WhiteStatusBar" />
        <activity
            android:name=".ui.activities.intro.IntroActivity"
            android:exported="false"
            android:theme="@style/Theme.FaceTrack.WhiteStatusBar" />
        <activity
            android:name=".ui.activities.splash.SplashActivity"
            android:exported="true"
            android:theme="@style/Theme.CustomSplashScreenTheme" >
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
    </application>

</manifest>